*{
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.canvasContainer {
    position: fixed;
    top: 0;
    bottom: 25px;
    left: 0;
    right: 30%;
}

#canvas {
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background-color: rgb(245,245,245);
    border-left: #999 1px solid;
    display: flex;
    flex-flow: column;
}

@media (min-width: 800px) {
    .statusBar,
    .canvasContainer {
        right: 25%;
    }
    .sidebar {
        width: 25%;
    }
}

@media (min-width: 1000px) {
    .statusBar,
    .canvasContainer {
        right: 20%;
    }
    .sidebar {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .statusBar,
    .canvasContainer {
        right: 17%;
    }
    .sidebar {
        width: 17%;
    }
}

@media (min-width: 1500px) {
    .statusBar,
    .canvasContainer {
        right: 15%;
    }
    .sidebar {
        width: 15%;
    }
}
