.sidebar > .footer {
    padding: 5px;
    font-size: 0.7em;
    color: #AAA;
    border-top: #AAA 1px solid;
}

@media screen and (max-height: 450px) {
    .sidebar > .footer {
        display: none;
    }
}
