.sidebar > .tools > ul,
.sidebar > .pointsList > ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar > .tools > ul > li,
.sidebar > .pointsList > ul > li {
    margin: 0;
    padding: 0;
}

.sidebar > .algorithms > span,
.sidebar > .pointsList > ul > li,
.sidebar > .tools > ul > li {
    padding: 10px;
    margin-bottom: 5px;
    border: #424242 1px solid;
    background-color: #FFF;
}

.sidebar > .algorithms > span:hover,
.sidebar > .pointsList > ul > li:hover,
.sidebar > .tools > ul > li:hover {
    background-color: #CCC;
}

.sidebar > .pointsList > ul > li.selected,
.sidebar > .tools > ul > li.selected,
.sidebar > .tools > ul > li:active {
    background-color: #333;
    color: #FFF;
}
