.statusBar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    z-index: 333;
    border-top: #999 1px solid;
    box-sizing: border-box;
    padding:0;
    overflow: hidden;
    background-color: rgb(245,245,245);
    transition: height 50ms linear;
}

.statusBar:hover {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.statusBar > div.log {
    display: none;
    font-size: 1.2em;
}

.statusBar > div.log > div + div{
    margin-top: 5px;
}

.statusBar > span {
    position: absolute;
    top: 3px;
    left: 5px;
    right: 5px;
    bottom: 3px;
    display: block;
    font-size: 1.2em;
    color: #777;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.statusBar:hover > div.log {
    display: block;
}

.statusBar:hover > span {
    display: none;
}
